<!DOCTYPE html>
<html>
<head><title>Laboratorio UVM</title></head>
<body>
    <h1>Panel Administrativo</h1>
    <nav>
        <a href="/muestras/nueva">➕ Nueva Muestra</a> | 
        <a href="/examenes/nuevo">🔬 Cargar Examen</a> | 
        <a href="/empleados">👥 Personal</a> | 
        <a href="/examenes">📑 Reportes</a>
    </nav>
    <hr>
    <table border="1" cellpadding="10">
        <tr><th>Paciente</th><th>Cédula</th><th>Acciones</th></tr>
        <% clientes.forEach(c => { %>
            <tr>
                <td><%= c.nombreDelCliente %></td>
                <td><%= c.cedulaCliente %></td>
                <td><a href="/cliente/<%= c.idCliente %>">Ver Expediente</a></td>
            </tr>
        <% }) %>
    </table>
</body>
</html>